.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  text-align: left;
  width: 100%;
  min-width: fit-content;
  margin-top: 8px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#multiple-datasets .league-name {
  margin: 0 20px 5px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

.tt-suggestion {
  padding: 3px 12px;
  font-size: 16px;
  line-height: 24px;
  min-height: 30px;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;

    .text-muted {
      color: #d1ecf6;
    }
  }

  p {
    margin: 0;
  }
}

.twitter-typeahead .tt-hint {
  color: #aaa;
}

.multiac-linked-wrap {
  padding: 5px 0 0;
}

.multiac-linked-wrap:empty {
  padding: 0;
}

.linked-entity {
  display: inline-block;
  display: inline-flex;
  margin: 0 4px 6px 0;
  position: relative;
  vertical-align: middle;
}

.linked-entity .btn,
.linked-entity .title {
  position: relative;
  float: left;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 1px 6px;
}

.linked-entity .title {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: default;
}

.multiac-wrap.disabled .btn,
.multiac-wrap.disabled .title {
  background-color: #eee;
}

.linked-entity .btn:last-child,
.linked-entity .title:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.linked-entity .btn {
  margin-left: -1px;
}

.linked-entity .btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.linked-entity .btn .glyphicon {
  font-size: 11px;
}

.linked-entity-new {
  border-radius: 4px;
  box-shadow: 0 0 5px #f0ad4e;
}

.multiac-wrap .sortable-placeholder {
  display: inline-block;
  border: 1px dashed #CCC;
  margin: 0 4px 6px 0;
  position: relative;
  vertical-align: middle;
  height: 24px;
  width: 100px;
}

.tt-icon-left,
.tt-icon-right {
  position: relative;
}

.tt-icon-left > i,
.tt-icon-right > i {
  position: absolute;
  padding: 10px 12px;
  cursor: default;
  z-index: 10;
}

.tt-icon-right.tt-disabled > i {
  cursor: not-allowed;
}

.tt-icon-left input {
  padding-left: 30px;
}

.tt-icon-right input {
  padding-right: 38px;
}

.tt-icon-right > i {
  right: 0;
  color: #cccccc;
}

.tt-icon-right > i:hover {
  color: #999999;
}

.tt-icon-right.tt-disabled > i:hover {
  color: #cccccc;
}

.tt-icon-right > i.clear,
.tt-icon-right > a.tt-link {
  right: 37px;
  font-size: 80%;
  line-height: 1.2;
  cursor: pointer;
  display: none;
}

.tt-icon-right > a.tt-link {
  position: absolute;
  padding: 10px 12px;
  z-index: 10;
  margin-right: 20px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.tt-fill {
  i.clear,
  &.has-itemform a.tt-link {
    display: inline-block;
  }

  input {
    padding-right: 70px;
  }
}

.tt-icon-right > i.tt-separator {
  background-color: rgb(204, 204, 204);
  width: 1px;
  position: absolute;
  padding: 0;
  height: 50%;
  top: 25%;
  right: 37px;
}

.form-inline .autocomplete-wrap,
.form-inline .multiac-wrap {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.input-group .autocomplete-wrap {
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  height: 34px;

  .tt-icon-right .form-control {
      border-radius: 4px;
  }

  &:not(:first-child) {
      .tt-icon-right .form-control {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }
  }

  &:not(:last-child) {
      .tt-icon-right .form-control {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
      }
  }
}

.multiac-left {
    .tt-icon-right {
        width: 200px;
        float: right;
    }

    .multiac-linked-wrap {
        margin-right: 205px;
    }
}

.multiac-right {
    .tt-icon-right {
        width: 200px;
        float: left;
    }

    .multiac-linked-wrap {
        margin-left: 205px;
    }
}

.ac-menu-up .tt-menu {
  top: initial !important;
  bottom: 110%;
}
