.zfe-upload-ajax-loader > div,
.zfe-upload-ajax-preview > div {
  margin: 0 0 10px;
}

.zfe-upload-ajax-loader .title {
  padding: 0 10px;
}

.zfe-upload-ajax {
  .alert,
  .progress {
    margin: 5px 0 0;
  }

  .alert {
    padding: 5px 10px;
  }

  .alert-dismissible {
    padding-right: 30px;
  }

  .alert .btn-close {
    padding: 8px 10px;
    font-size: .75em;
  }
}

.zfe-upload-ajax-loader > div > .btn-close {
  float: right;
  font-size: .75em;
}
