form.indexSearch {
  margin: 15px 0;
  float: left;
}

.form-inline-plus {
  .form-group {
    min-width: 100px;
    margin-right: 15px;
    float: left;
  }

  .tt-icon-right {
    width: 250px;
  }

  .btn {
    margin-top: 25px;
  }
}

.btn-static,
.btn-static:active,
.btn-static:focus,
.btn-static:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

.btn-default.btn-static,
.btn-default.btn-static:active,
.btn-default.btn-static:focus,
.btn-default.btn-static:hover {
  background-color: #eaeaea;
  background-image: none;
  border-color: #ddd;
}

.has-warning .will-be-created {
  display: block;
}

legend small {
  font-size: 75%;
  color: #777;
}

.image-uploaded {
  display: inline-block;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 2px;

  .image {
    display: inline-block;
    height: 120px;
    width: 120px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .text-danger {
    position: absolute;
    margin-top: 2px;
    margin-left: -25px;
    background: #fff;
    padding: 2px 5px 1px;
    border-radius: 50%;
  }
}

.formfile-current-file p {
  display: inline-block;
}
