body.controller-auth.action-force-password-change {
    .wrap {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    ul.help-block {
        list-style: none;
        padding: 0;

        li + li {
            margin-top: 6px;
        }
    }
}
